## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City_Description
0,0,Salta,AR,-24.7859,-65.4117,56.57,81,0,3.00,clear sky
1,1,Cherskiy,RU,68.7500,161.3000,27.27,81,100,6.60,overcast clouds
2,2,Namibe,AO,-15.1961,12.1522,72.41,66,83,8.77,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,76.87,70,10,14.94,clear sky
4,4,Barrow,US,71.2906,-156.7887,24.82,74,100,12.66,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City_Description
3,3,Rikitea,PF,-23.1203,-134.9692,76.87,70,10,14.94,clear sky
6,6,Butaritari,KI,3.0707,172.7902,81.28,72,10,14.03,clear sky
11,11,Poum,NC,-20.2333,164.0167,78.37,73,43,18.86,scattered clouds
17,17,Atuona,PF,-9.8000,-139.0333,79.03,69,24,20.13,few clouds
19,19,Mahebourg,MU,-20.4081,57.7000,75.25,94,20,4.61,few clouds
22,22,Kapaa,US,22.0752,-159.3190,82.38,77,96,4.00,overcast clouds
25,25,Aswan,EG,24.0934,32.9070,81.70,18,0,8.05,clear sky
28,28,Kavaratti,IN,10.5669,72.6420,85.26,67,100,16.51,light rain
30,30,Vaini,TO,-21.2000,-175.2000,80.76,65,20,6.91,few clouds
31,31,Avarua,CK,-21.2078,-159.7750,80.65,83,75,4.61,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID             199
City                199
Country             199
Lat                 199
Lng                 199
Max Temp            199
Humidity            199
Cloudiness          199
Wind Speed          199
City_Description    199
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "City_Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,City_Description,Lat,Lng,Hotel Name
3,Rikitea,PF,76.87,clear sky,-23.1203,-134.9692,
6,Butaritari,KI,81.28,clear sky,3.0707,172.7902,
11,Poum,NC,78.37,scattered clouds,-20.2333,164.0167,
17,Atuona,PF,79.03,few clouds,-9.8000,-139.0333,
19,Mahebourg,MU,75.25,few clouds,-20.4081,57.7000,
22,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,
25,Aswan,EG,81.70,clear sky,24.0934,32.9070,
28,Kavaratti,IN,85.26,light rain,10.5669,72.6420,
30,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
31,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,City_Description,Lat,Lng,Hotel Name
3,Rikitea,PF,76.87,clear sky,-23.1203,-134.9692,People ThankYou
6,Butaritari,KI,81.28,clear sky,3.0707,172.7902,Isles Sunset Lodge
11,Poum,NC,78.37,scattered clouds,-20.2333,164.0167,
17,Atuona,PF,79.03,few clouds,-9.8000,-139.0333,Villa Enata
19,Mahebourg,MU,75.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
22,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Aswan,EG,81.70,clear sky,24.0934,32.9070,Nuba Nile
28,Kavaratti,IN,85.26,light rain,10.5669,72.6420,Hotels in Lakshadweep Islands
30,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
31,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.drop(hotel_df[hotel_df['Hotel Name'] == ""].index, inplace = True)
hotel_df.head(10)

,City,Country,Max Temp,City_Description,Lat,Lng,Hotel Name
3,Rikitea,PF,76.87,clear sky,-23.1203,-134.9692,People ThankYou
6,Butaritari,KI,81.28,clear sky,3.0707,172.7902,Isles Sunset Lodge
17,Atuona,PF,79.03,few clouds,-9.8000,-139.0333,Villa Enata
19,Mahebourg,MU,75.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
22,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Aswan,EG,81.70,clear sky,24.0934,32.9070,Nuba Nile
28,Kavaratti,IN,85.26,light rain,10.5669,72.6420,Hotels in Lakshadweep Islands
30,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
31,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
38,Kismayo,SO,80.82,clear sky,-0.3582,42.5454,Agan-Hotel

In [13]:
# 8a. Create the output File (CSV)
output_data_file=("Hotels_Database/Hotels_database.csv")
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{City_Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))