In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-05-09 20:17:55,-9.8000,-139.0333,78.49,80,19,16.40
1,1,Hobart,AU,2022-05-09 20:17:56,-42.8794,147.3294,44.46,90,0,9.22
2,2,Tuktoyaktuk,CA,2022-05-09 20:17:56,69.4541,-133.0374,39.20,65,100,11.50
3,3,Labuhan,ID,2022-05-09 20:16:10,-6.8844,112.2051,80.11,87,100,6.73
4,4,Marzuq,YE,2022-05-09 20:17:57,14.4000,46.4667,77.45,57,3,4.38

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-05-09 20:17:55,-9.8000,-139.0333,78.49,80,19,16.40
3,3,Labuhan,ID,2022-05-09 20:16:10,-6.8844,112.2051,80.11,87,100,6.73
4,4,Marzuq,YE,2022-05-09 20:17:57,14.4000,46.4667,77.45,57,3,4.38
6,6,Jardim,BR,2022-05-09 20:17:58,-21.4803,-56.1381,87.06,34,17,3.15
9,9,Daru,PG,2022-05-09 20:17:57,-9.0763,143.2092,81.59,89,100,9.75
10,10,Jamestown,US,2022-05-09 20:17:59,42.0970,-79.2353,75.52,21,0,4.61
11,11,Port Moresby,PG,2022-05-09 20:17:59,-9.4431,147.1797,77.16,84,9,3.31
16,16,Inirida,CO,2022-05-09 20:18:02,3.8653,-67.9239,79.14,88,100,3.74
17,17,Coahuayana,MX,2022-05-09 20:18:02,18.7333,-103.6833,88.74,47,24,7.96
22,22,Meulaboh,ID,2022-05-09 20:18:05,4.1363,96.1285,78.48,87,100,2.19

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Atuona      PF     78.49  -9.8000 -139.0333
3        Labuhan      ID     80.11  -6.8844  112.2051
4         Marzuq      YE     77.45  14.4000   46.4667
6         Jardim      BR     87.06 -21.4803  -56.1381
9           Daru      PG     81.59  -9.0763  143.2092
10     Jamestown      US     75.52  42.0970  -79.2353
11  Port Moresby      PG     77.16  -9.4431  147.1797
16       Inirida      CO     79.14   3.8653  -67.9239
17    Coahuayana      MX     88.74  18.7333 -103.6833
22      Meulaboh      ID     78.48   4.1363   96.1285

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,78.49,-9.8000,-139.0333,Villa Enata
3,Labuhan,ID,80.11,-6.8844,112.2051,DoubleFAG
4,Marzuq,YE,77.45,14.4000,46.4667,
6,Jardim,BR,87.06,-21.4803,-56.1381,Estancia Hotel - Jardim MS
9,Daru,PG,81.59,-9.0763,143.2092,Daru Lodge
10,Jamestown,US,75.52,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Port Moresby,PG,77.16,-9.4431,147.1797,Lamana Hotel (Port Moresby)
16,Inirida,CO,79.14,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
17,Coahuayana,MX,88.74,18.7333,-103.6833,El rranchito michuacan de ocampos
22,Meulaboh,ID,78.48,4.1363,96.1285,Kost Pria

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# HTML code
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))