## Deliverable 3. Create a Travel Itinerary Map.

In [72]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City_Description
0,0,Salta,AR,-24.7859,-65.4117,56.57,81,0,3.00,clear sky
1,1,Cherskiy,RU,68.7500,161.3000,27.27,81,100,6.60,overcast clouds
2,2,Namibe,AO,-15.1961,12.1522,72.41,66,83,8.77,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,76.87,70,10,14.94,clear sky
4,4,Barrow,US,71.2906,-156.7887,24.82,74,100,12.66,overcast clouds

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{City_Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Neumunster")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Neumunster")]
vacation_stop1 =  vacation_df.loc[(vacation_df["City"]=="Kampen")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Lasa")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Bruntal")] 
vacation_start

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City_Description
575,575,Neumunster,DE,54.0667,9.9833,53.04,96,100,1.99,overcast clouds

In [71]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0,(3,4)])
end = tuple(vacation_end.to_numpy()[0,(3,4)])
stop1 = tuple(vacation_stop1.to_numpy()[0,(3,4)])
stop2 = tuple(vacation_stop2.to_numpy()[0,(3,4)])
stop3 = tuple(vacation_stop3.to_numpy()[0,(3,4)])

In [74]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
Trip = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(Trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City_Description
0,575,Neumunster,DE,54.0667,9.9833,53.04,96,100,1.99,overcast clouds
1,211,Kampen,NL,52.5550,5.9111,57.96,77,100,8.41,overcast clouds
2,420,Lasa,IT,46.6166,10.7002,50.36,71,70,1.83,broken clouds
3,443,Bruntal,CZ,49.9884,17.4647,53.58,83,100,6.98,overcast clouds

In [76]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{City_Description}</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [77]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))